<header class="fixed top-0 left-0 z-10 w-full backdrop-blur-sm drop-shadow-lg transition-opacity duration-300"
    [class.opacity-0]="!visible()" [class.pointer-events-none]="!visible()">
    <nav aria-label="Global" class="mx-auto flex max-w-7xl items-center p-4 lg:px-8">
        <div class="flex gap-4 items-center">
            <div>
                <a routerLink=".."
                    class="flex items-center justify-center w-10 h-10 rounded-[6px] bg-white/10 hover:bg-white/20 transition-colors">
                    <svg class="w-5 h-5 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7">
                        </path>
                    </svg>
                </a>
            </div>
            <div>
                <h2 class="text-white text-xs opacity-70 drop-shadow-lg">{{ mediaSubtitle() }}</h2>
                <h1 class="text-white font-bold opacity-90 drop-shadow-lg">{{ mediaTitle() }}</h1>
            </div>
        </div>
    </nav>
</header>